{# purpose of this template: reusable display of standard fields #}
{% if (obj.createdBy|default and obj.createdBy.getUid() > 0) or (obj.updatedBy|default and obj.updatedBy.getUid() > 0) %}
    {% if obj.createdBy|default and obj.createdBy.getUid() > 0 %}
        {% set profileLink = obj.createdBy.getUid()|profileLinkByUserId() %}
        <span>
            {{ __f('Answered on %date', {'%date': obj.createdDate|localizeddate('medium', 'short')})|raw }}
        </span>
    {% endif %}
    {% set editPostings = getModVar('MUBoardModule', 'editPostings') %}
    {% if editPostings == 1 %}
        <span class="edit-posting"><a href="{{ path('muboardmodule_posting_' ~ routeArea ~ 'edit', {'id': obj.getId()}) }}"><i class="fa fa-edit"></i></a></span>
    {% endif %}
{% endif %}
