
# generated at Sun Oct 14 15:42:51 CEST 2012 by ModuleStudio 0.5.4 (http://modulestudio.de)
# ----------------------------------------------------------------------
# Purpose of file: give access to upload files treated in this directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(pdf)$">
    order allow,deny
    allow from all
</filesmatch>
