{# purpose of this template: abos user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('abos') %}
{% block content %}
    <p>{{ __('Welcome to the abo section of the Board application.') }}</p>
{% endblock %}
