{# purpose of this template: abos user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('Abos') %}
{% block content %}
    <div class="muboardmodule-abo muboardmodule-index">
        <p>{{ __('Welcome to the abo section of the Board application.') }}</p>
    </div>
{% endblock %}
