{# purpose of this template: users user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('users') %}
{% block content %}
    <p>{{ __('Welcome to the user section of the Board application.') }}</p>
{% endblock %}
