{# Purpose of this template: show moderation block #}
{% if moderationObjects|length > 0 %}
    <ul>
    {% for modItem in moderationObjects %}
        {% set itemObjectType = modItem.objectType|lower %}
        {% if itemObjectType in ['category', 'forum', 'posting', 'abo', 'user', 'rank'] %}
            <li><a href="{{ path('muboardmodule_' ~ itemObjectType ~ '_adminview', {workflowState: modItem.state}) }}" class="bold">{{ modItem.message }}</a></li>
        {% else %}
            <li><a href="{{ path('muboardmodule_' ~ itemObjectType ~ '_adminindex', {workflowState: modItem.state}) }}" class="bold">{{ modItem.message }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
