{# purpose of this template: forums user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('Forums') %}
{% block content %}
    <div class="muboardmodule-forum muboardmodule-index">
        <p>{{ __('Welcome to the forum section of the Board application.') }}</p>
    </div>
{% endblock %}
