
/* view pages */
div#z-maincontent.z-module-muboard table tbody tr td {
    vertical-align: top;
}

/* display pages */
div.muboardRightBox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    /*border: 1px solid #666;*/
}

div.muboardRightBox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #CCC;
    padding-bottom: 8px;
}

div.muboardRightBox p.manageLink {
    margin-left: 18px;
}

.muboardColourPicker {
    cursor: pointer;
}

/* validation */
input.required, textarea.required {
    border: 1px solid #00a8e6;
}
input.validation-failed, textarea.validation-failed {
    border: 1px solid #f30;
    color : #f30;
}
input.validation-passed, textarea.validation-passed {
    border: 1px solid #0c0;
    color : #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color : #fff;
    font-weight: 700;
}

/* edit pages */
div.muboardRelationLeftSide {
float: left;
width: 25%;
}

div.muboardRelationRightSide {
float: right;
width: 65%;
}

div.muboardAutoCompleteWrap {
    position: absolute;
    height: 40px;
    margin: 0;
    padding: 0;
    left: 260px;
    top: 10px;
}

div.muboardAutoComplete,
div.muboardAutoCompleteWithImage {
    position: relative !important;
    top: 2px !important;
    left: 0 !important;
    width: 100px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.muboardAutoComplete ul,
div.muboardAutoCompleteWithImage ul {
    margin: 0;
    padding: 0;
}

div.muboardAutoComplete ul li,
div.muboardAutoCompleteWithImage ul li {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

div.muboardAutoComplete ul li {
    background-image: url("../../../images/icons/extrasmall/tab_right.png");
}
div.muboardAutoCompleteWithImage ul li {
    background-image: url("../../../images/icons/extrasmall/agt_Multimedia.png");
}

div.muboardAutoComplete ul li.selected,
div.muboardAutoCompleteWithImage ul li.selected {
    background-color: #ffb;
}

div.muboardAutoComplete ul li div.itemtitle,
div.muboardAutoCompleteWithImage ul li div.itemtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
}
div.muboardAutoComplete ul li div.itemdesc,
div.muboardAutoCompleteWithImage ul li div.itemdesc {
    font-size: 10px;
    color: #888;
}

button.muboardInlineButton {
    margin-top: 1em;
}

/***************OWN STYLES****************/

.muboard-edit {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}

/********Categories***************/

.muboard-user-category {
    margin: 5px 0;
    border-radius: 5px;
    float: left;
    width: 100%;
}

.muboard-user-category-header {
    float: left;
    width: 100%;
    background: #eee;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.muboard-user-category-header-title {
    background: #ddd;
    padding: 2px 10px;
    margin: 10px 0 0 20px;
    float: left;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #999;
}

.muboard-user-category-header-statistic {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-category-footer-statistic {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-category-header-lastposting {
    font-size: 0.9em;
    padding: 5px 0;
    margin: 5px 0 0 10px;
    float: left;
}

.muboard-user-legend {
    width: 180px;
    float: left;
}


.issues {
    background: #c63;
}

.postings {
    background: #6c6;
}

.children {
    background: #369;
    color: #eee;
}

.calls {
    background: #cc6;
    color: #eee;
}

/* .muboard-user-category-header {
background: #eee;
padding: 5px;
border-radius: 5px 5px 0 0;
border-bottom: 1px solid #ddd;
} */

.muboard-user-category-content {
    float: left;
    clear: both;
    width: 98%;
    background: #ccc;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #999;
    padding: 5px 1%;
}

/*********Forums*****************/

.muboard-user-forum {
  /* background: #ddd;*/
   margin: 5px 1%;
   padding: 3px 1%;
   border-bottom: 1px solid #333;
   border-radius: 5px;
   float: left;
   width: 96%;
   position: relative;
}

.muboard-user-forum-header {
    float: left;
    width: 100%;
    background: #eee;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.muboard-user-forum-header-title {
    background: #ddd;
    padding: 2px 10px;
    margin: 10px 0 0 20px;
    float: left;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #999;
}

.muboard-user-forum-header-statistic {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-forum-header-category {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    font-size: 1.2em;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-forum-header-action {
    float: right;
}

.muboard-user-forum-content {
    float: left;
    clear: both;
    width: 98%;
    background: #ccc;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #999;
    padding: 5px 1%;
}

.muboard-user-forum-left {
    float: left;
    width: 45%;
}

.muboard-user-forum-left-icon {
    float: left;
    width: 10%;
    border: 0 1%;
}

.muboard-user-forum-left-solved {
    float: left;
    width: 10%;
    border: 0 1%;
}

.muboard-user-forum-left-creater {
    float: left;
    width: 70%;
    border: 0 1%;
}

.muboard-user-forum-left-right {
    float: left;
    width: 75%;
    border: 0 1%;
}

.muboard-user-forum-right {
    float: right;
    width: 45%;
}

/*********POSTINGS**************/

.muboard-user-posting {
    margin: 10px 0 0 0;
    float: left;
    width: 100%;
    background: #eee;
    border-radius: 5px;
}

.muboard-user-posting-parent {
    margin: 10px 0 0 0;
    float: left;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
}

.muboard-user-posting-header {
    padding: 1%;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 98%;
}

.muboard-user-posting-header-title {
    float: left;
    width: 45%;
}

.muboard-user-posting-header-action {
    float: left;
    width: 35%;
}

.muboard-user-posting-header-action-category {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    font-size: 1.2em;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-posting-header-action-forum {
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    float: left;
    font-size: 1.2em;
    border-radius: 5px;
    border-bottom: 1px solid #999;
}

.muboard-user-posting-header-infos {
    float: right;
    padding: 0;
}

#muboard-user-posting-header-infos-close {
    width: 30px;
    padding: 5px;
    margin: 0 0 0 10px;
}

.muboard-user-posting-user {
    float: left;
    width: 25%;
}

.muboard-user-posting-content {
    float: right;
    width: 74%;
    border-left: 1px solid #ddd;
}

.muboard-user-posting-content-text {
    float: left;
    width: 98%;
    padding: 10px 1%;
}

.muboard-user-posting-content-image {
    float: left;
    width: 98%;
    padding: 10px 1%;
}

.muboard-user-posting-avatar {
    padding: 2%;
    float: left;
    width: 30%;
    font-size: 0.8em;
    text-align: center;
}

.muboard-user-posting-datas {
    padding: 2%;
    float: right;
    width: 55%;
    font-size: 0.8em;
}
.muboard-user-posting-created {
    font-size: 0.9em;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.muboard-user-posting-edit {
    font-size: 0.9em;
    float: right;

}

.muboard-user-posting-avatar img {
    border: 3px solid #fff;
    border-radius: 5px;
}









