{# purpose of this template: ranks user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('Ranks') %}
{% block content %}
    <div class="muboardmodule-rank muboardmodule-index">
        <p>{{ __('Welcome to the rank section of the Board application.') }}</p>
    </div>
{% endblock %}
