{# Purpose of this template: Display ranks within an external context #}
{% for rank in items %}
    <h3>{{ rank|muboardmodule_formattedTitle }}</h3>
    <p><a href="{{ path('muboardmodule_rank_display', {'id': rank.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
