{# Purpose of this template: Display postings within an external context #}
{% for posting in items %}
    <h3>{{ posting|muboardmodule_formattedTitle }}</h3>
    <p><a href="{{ path('muboardmodule_posting_display', {'id': posting.getId()}) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
