{# purpose of this template: users admin index view #}
{% extends 'MUBoardModule::adminBase.html.twig' %}
{% block title __('users') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the user section of the Board application.') }}</p>
{% endblock %}
