/* this file is intended for custom styles */

/*********************OWN*************************/

.category-view-header,
.category-display-header,
.forum-display-header {
	background: #eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: #676767;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 6px;
	float: left;
    width: 100%;
}

.posting-display-header {

}

.category-view-content,
.category-display-content,
.forum-display-content {
	background: #ddd;
	border-radius: 5px;
	width: 100%;
}

#forum-load-indicator {
	position: absolute;
	top: 0;
	right: 0;
}

.children-include-header {
	padding: 5px 10px 5px 0;
    border-bottom: 1px solid #bbb;
    font-size: 0.9em;
}

.children-include-user,
.children-include-text {
	padding: 10px;
	float: left;
	height: 100%;
	min-height: 80px;
}

.children-include-user {
	text-align: center;
	width: 100%;
	font-size: 0.9em;
}

.children-include-content {
	text-align: center;
	border-left: 1px solid #bbb;
	width: 100%;
	float: left;
}

#posting-title {
	
}

.titlestatus {
	cursor: text;
}

.state-green,
.state-red {
	cursor: pointer;
}

.state-green {
	color: #22dd33;
}
.state-red {
	color: #ff2233;
}

.newstate {
	font-size: 0.8em;
}

/*************FORUM****************/

.move-forum {
	float: left;
}

/***********POSTING****************/

.list-group .active {
	color: #eee;
}

.list-group .active a:link,
.list-group .active a:visited,
.list-group .active h3  {
	color: #efefef;
}

.muboard-user-posting-content-text {
	padding: 15px;
}

.last-posting {
	font-size: 0.85em;
	display: block;
	width: 100%;
	float: left;
}

.posting-avatar {
	float: left;
	width: 25px;
}

.posting-avatar img {
	padding: 1px;
	margin: 2px 5px 0 0;
}

.children {

}

.move-forum .fa-bars {
	cursor: move;
}