/* view pages */
div#z-maincontent.z-module-board table tbody tr td {
    vertical-align: top;
}
.table-responsive > .fixed-columns {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

/* display pages */
.muboardmodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.muboardmodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* hide legends if tabs are used as both contain the same labels */
div.board-edit .tab-pane legend {
    display: none;
}

/* edit pages */
div.muboardmodule-relation-leftside {
    float: left;
    width: 25%;
}

div.muboardmodule-relation-rightside {
    float: right;
    width: 65%;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 150px;
}

.ui-autocomplete-loading {
    background: white url("../../../../../../images/ajax/indicator_arrows.gif") right center no-repeat;
}

.ui-autocomplete .suggestion {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
}

div.muboardmodule-autocomplete .ui-autocomplete .suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/tab_right.png");
}
div.muboardmodule-autocomplete-with-image .ui-autocomplete .suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/agt_Multimedia.png");
}
.ui-autocomplete .suggestion img {
    max-width: 20px;
    max-height: 20px;
}

.ui-autocomplete .suggestion .ui-state-active {
    background-color: #ffb;
}

.ui-autocomplete .suggestion .media-body {
    font-size: 10px;
    color: #888;
}
.ui-autocomplete .suggestion .media-body .media-heading {
    font-size: 12px;
    line-height: 1.2em;
}

/** fix dropdown visibility inside responsive tables */
div.muboardmodule-view .table-responsive {
    min-height: 300px;
}
div.muboardmodule-view form.muboardmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.muboardmodule-view form.muboardmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.muboardmodule-view form.muboardmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.muboardmodule-view form.muboardmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.muboardmodule-view form.muboardmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

div.muboardmodule-view .avatar img {
    width: auto;
    max-height: 24px;
}

/*********************OWN*************************/

.category-view-header,
.category-display-header,
.forum-display-header,
.posting-display-header {
	background: #eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: #676767;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 6px;
	float: left;
    width: 100%;
}

.posting-display-header {
    float: left;
    width: 100%;
    border-bottom: 5px solid #fedefe;
}

.category-view-content,
.category-display-content,
.forum-display-content,
.posting-display-content {
	background: #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	float: left;
	width: 100%;
}

#forum-load-indicator {
	position: absolute;
	top: 0;
	right: 0;
}

.children-include-header {
	padding: 5px;
    border-bottom: 1px solid #bbb;
    font-size: 0.9em;
}

.children-include-user,
.children-include-content {
	padding: 5px;
	float: left;
	height: 100%;
}

.children-include-user {
	text-align: center;
	border-right: 1px solid #bbb;
	width: 100%;
}

#posting-title {
	
}

.state-green,
.state-red {
	cursor: pointer;
}

.state-green {
	color: #22dd33;
}
.state-red {
	color: #ff2233;
}

.newstate {
	font-size: 0.8em;
}

.last-posting {
	font-size: 0.85em;
	display: block;
	width: 100%;
	float: left;
}

.posting-avatar {
	float: left;
	width: 25px;
}

.posting-avatar img {
	padding: 1px;
	margin: 2px 5px 0 0;
}

.fa-bars {
	cursor: move;
}
