{# purpose of this template: categories user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('Categories') %}
{% block content %}
    <div class="muboardmodule-category muboardmodule-index">
        <p>{{ __('Welcome to the category section of the Board application.') }}</p>
    </div>
{% endblock %}
