{# purpose of this template: postings user index view #}
{% extends 'MUBoardModule::base.html.twig' %}
{% block title __('Postings') %}
{% block content %}
    <div class="muboardmodule-posting muboardmodule-index">
        <p>{{ __('Welcome to the posting section of the Board application.') }}</p>
    </div>
{% endblock %}
