{# purpose of this template: categories admin index view #}
{% extends 'MUBoardModule::adminBase.html.twig' %}
{% block title __('categories') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the category section of the Board application.') }}</p>
{% endblock %}
